<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Spartans</title>
	

	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/prettyPhoto.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">
	<link href="css/main.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
	
    
    <link rel="shortcut icon" href="images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/ico/apple-touch-icon-57-precomposed.png">
</head>

<body>

    

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                     <a class="navbar-brand" href="/">Spartans</a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/mobile">Mobile</a></li>
                                <li><a href="/bigData">Big Data</a></li>
                                <li><a href="/iot">IOE/IOT</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">About Us<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="/aboutUs">Management</a></li>
                                <li><a href="/location">Location</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>About Spartans</h2>
				<hr style="margin-top:0%">
				<p class="lead">
						The Firm has had a great deal of experience and is highly regarded for its expertise in the areas of design, construction administration, construction management, tight cost control and scheduling.

						We have been involved in a wide range of building projects, including college facilities, banks, schools, nursing homes, office buildings, churches, industrial buildings and major urban development projects.

						The various projects have included new construction, renovation and adaptive re-use as a way of providing new space for the various clients. Tessier Associates provides in-house programming, master planning, architectural design, construction documentation, project administration and interior design services. Sustainable design, as appropriate for each client, is incorporated in cost effective ways to benefit the long term value of the buildings created by the firm.

						Together with selected consultants, The Firm provides complete professional services including landscape architecture, structural engineering, electrical and mechanical engineering and site planning.
				</p>

				
			</div>
			
			
			
			<!-- Our Skill -->
		<div class="skill-wrap clearfix">
			
			<div class="wow fadeInDown">
				<div class="center">
					<h2>Our Skill</h2>
				</div>
					<hr style="margin-top:-3%">
					<div class="col-lg-6">
					<p>We believe ideas come from everyone, everywhere. In fact, at Corlate, everyone within our agency walls is a designer in their own right. And there are a few principles we believe—and we believe everyone should believe—about our design craft. These truths drive us, motivate us, and ultimately help us redefine the power of design. We’re big believers in doing right by our neighbors. After all, we grew up in the Twin Cities and we believe this place has much to offer. So we do what we can to support the community we love.</p>
				</div><!-- col-lg-6 -->
				
				<div class="col-lg-6">
					<p>Over the past four years, we’ve provided more than $1 million in combined cash and pro bono support to Way to Grow, an early childhood education and nonprofit organization. Other community giving involvement throughout our agency history includes pro bono work for more than 13 organizations, direct giving, a scholarship program through the Minneapolis College of Art & Design, board memberships, and ongoing participation in the Keystone Club, which gives five percent of our company’s earnings back to the community each year.</p>
				</div>
			</div>

			<div class="team">
					<div class="center wow fadeInDown">
						<h2 style="margin-top: 26%;">Team of Corlate</h2>
						<hr style="margin-top:4%">
						<!-- <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p> -->
					</div>
			</div>
				
					
            <!-- Overlay Code -->
			<div class="overlay" id="overlay" style="display:none;"></div>
            <!---Pop Up code ---->

            <!-- IMG 1-->

			    <div id="imagePopUp1" class="popupContainer" style="display:none;">
					<header class="popupHeader">
						<span class="header_title">Management</span>
						<span class="modal_close" id="close1"><i class="fa fa-times"></i></span>
					</header>
					
					<section class="popupBody">
						<div class="social_login">
							<div class="row">
								<div class="col-sm-6">
									<img src="images/img1.jpg" class="img-circle" height="200px" width="200px" style="MARGIN-TOP: -3%; margin-left: 5%;"/>
								</div>
								<div class="col-sm-6">
									<span class="header_title" style="font-weight:bold">RAINA SHASTRI</span>
									<br><br>
									<span class="header_title" style="font-weight:bold">CEO & Founder</span>
									<br><br>
									 <a class="btn1 btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/rainashastri">
			    						<i class="fa fa-linkedin"></i>
			  						 </a>
								</div>
							</div>
							<div class="row">
								<br><br>
								<p style="margin-left:20px">
									There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								</p>
							</div>
						</div>
					</section>
				</div>

				<!-- IMG 1--->

				<!-- IMG 2 -->
				 <div id="imagePopUp2" class="popupContainer" style="display:none;">
					<header class="popupHeader">
						<span class="header_title">Management</span>
						<span class="modal_close" id="close2"><i class="fa fa-times"></i></span>
					</header>
					
					<section class="popupBody">
						<div class="social_login">
							<div class="row">
								<div class="col-sm-6">
									<img src="images/img2.jpg" class="img-circle" height="200px" width="200px" style="MARGIN-TOP: -3%; margin-left: 5%;"/>
								</div>
								<div class="col-sm-6">
									<span class="header_title" style="font-weight:bold">JENIL DOSHI</span>
									<br><br>
									<span class="header_title" style="font-weight:bold">Business Analyst</span>
									<br><br>
									 <a class="btn1 btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/rainashastri">
			    						<i class="fa fa-linkedin"></i>
			  						 </a>
								</div>
							</div>
							<div class="row">
								<br><br>
								<p style="margin-left:20px">
									There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								</p>
							</div>
						</div>
					</section>
				</div>

				<!-- IMG 2 -->

				<!-- IMG 3 -->
				 <div id="imagePopUp3" class="popupContainer" style="display:none;">
					<header class="popupHeader">
						<span class="header_title">Management</span>
						<span class="modal_close" id="close3"><i class="fa fa-times"></i></span>
					</header>
					
					<section class="popupBody">
						<div class="social_login">
							<div class="row">
								<div class="col-sm-6">
									<img src="images/img3.jpg" class="img-circle" height="200px" width="200px" style="MARGIN-TOP: -3%; margin-left: 5%;"/>
								</div>
								<div class="col-sm-6">
									<span class="header_title" style="font-weight:bold">NIELET D'MELLO</span>
									<br><br>
									<span class="header_title" style="font-weight:bold">Operations Head</span>
									<br><br>
									 <a class="btn1 btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/rainashastri">
			    						<i class="fa fa-linkedin"></i>
			  						 </a>
								</div>
							</div>
							<div class="row">
								<br><br>
								<p style="margin-left:20px">
									There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								</p>
							</div>
						</div>
					</section>
				</div>
				<!-- IMG 3 -->

				<!-- IMG 4-->
				 <div id="imagePopUp4" class="popupContainer" style="display:none;">
					<header class="popupHeader">
						<span class="header_title">Management</span>
						<span class="modal_close" id="close4"><i class="fa fa-times"></i></span>
					</header>
					
					<section class="popupBody">
						<div class="social_login">
							<div class="row">
								<div class="col-sm-6">
									<img src="images/img4.jpg" class="img-circle" height="200px" width="200px" style="MARGIN-TOP: -3%; margin-left: 5%;"/>
								</div>
								<div class="col-sm-6">
									<span class="header_title" style="font-weight:bold">LARKINS CARVALHO</span>
									<br><br>
									<span class="header_title" style="font-weight:bold">Managing Director</span>
									<br><br>
									 <a class="btn1 btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/rainashastri">
			    						<i class="fa fa-linkedin"></i>
			  						 </a>
								</div>
							</div>
							<div class="row">
								<br><br>
								<p style="margin-left:20px">
									There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
								</p>
							</div>
						</div>
					</section>
				</div>

				<!--IMG 4-->



            <!--Pop Up Code ---->
			
				<div class="row">
		
					<div class="col-sm-3">
							<a id="modal_trigger1" href="#imagePopUp1">
								<img id="activateOverLay1"  src="images/img1.jpg" class="img-circle" height="200px" width="200px"/>
							</a>
					</div>
					
					 <div class="col-sm-3">
					 	<a id="modal_trigger2" href="#imagePopUp2">
							<img id="activateOverLay2" src="images/img2.jpg"  class="img-circle" height="200px" width="200px"/>
						</a>
					</div>
					
					<div class="col-sm-3">
						<a id="modal_trigger3" href="#imagePopUp3">
							<img id="activateOverLay3" src="images/img3.jpg"  class="img-circle" height="200px" width="200px"/>
						</a>
					</div>
					
					 <div class="col-sm-3">
					 	<a id="modal_trigger4" href="#imagePopUp4">
							<img id="activateOverLay4" src="images/img4.jpg" class="img-circle" height="200px" width="200px"/>
						</a>
					</div>
					
				</div>
	
            </div><!--/.our-skill-->

            <!-- ==== PORTFOLIO ==== -->
		<div class="wow fadeInDown container" id="portfolio" name="portfolio">
		<br>
			<div class="row">
				<br>
				<div class="center">
					<h2>WE CREATE COOL STUFF</h2>
				</div>
				<hr style="margin-top:4%">
				<br>
				<br>
			</div><!-- /row -->
			<div class="container">
			<div class="row">	
			
				<!-- PORTFOLIO IMAGE 1 -->
				<div class="col-md-4 ">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="images/BigData.jpg" alt="">
							<figcaption>
								<br>
								<h5>BigData</h5>
								<form action="/bigData">
									<input type="submit" name="button1" class="btn btn-primary btn-lg" value="Take a Look"/>
								</form>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
								
				
				<!-- PORTFOLIO IMAGE 2 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="images/Mobile.jpg" alt="">
							<figcaption>
								<h5>Moile</h5>
								<form action="/mobile">
									<input type="submit" name="button1" class="btn btn-primary btn-lg" value="Take a Look"/>
								</form>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
				
				<!-- PORTFOLIO IMAGE 3 -->
				<div class="col-md-4">
			    	<div class="grid mask">
						<figure>
							<img class="img-responsive" src="images/IOT.jpg" alt="">
							<figcaption>
								<h5>IOT</h5>
								<form action="/iot">
									<input type="submit" name="button1" class="btn btn-primary btn-lg" value="Take a Look"/>
								</form>
							</figcaption><!-- /figcaption -->
						</figure><!-- /figure -->
			    	</div><!-- /grid-mask -->
				</div><!-- /col -->
			</div><!-- /row -->

				
		</div><!--/.container-->
    </section><!--/about-us-->
	
    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">About us</a></li>
                            <li><a href="#">We are hiring</a></li>
                            <li><a href="#">Meet the team</a></li>
                            <li><a href="#">Copyright</a></li>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Contact us</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">Faq</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Forum</a></li>
                            <li><a href="#">Documentation</a></li>
                            <li><a href="#">Refund policy</a></li>
                            <li><a href="#">Ticket system</a></li>
                            <li><a href="#">Billing system</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">Web Development</a></li>
                            <li><a href="#">SEO Marketing</a></li>
                            <li><a href="#">Theme</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Email Marketing</a></li>
                            <li><a href="#">Plugin Development</a></li>
                            <li><a href="#">Article Writing</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Our Partners</h3>
                        <ul>
                            <li><a href="#">Adipisicing Elit</a></li>
                            <li><a href="#">Eiusmod</a></li>
                            <li><a href="#">Tempor</a></li>
                            <li><a href="#">Veniam</a></li>
                            <li><a href="#">Exercitation</a></li>
                            <li><a href="#">Ullamco</a></li>
                            <li><a href="#">Laboris</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    &copy; 2015 <a target="_blank" href="http://shapebootstrap.net/" title="Free Twitter Bootstrap WordPress Themes and HTML templates">Spartans</a>. All Rights Reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="/">Home</a></li>
                        <li><a href="/aboutUs">About Us</a></li>                        
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->
    

    <script src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="js/jquery.leanModal.min.js"></script>
    <script type="text/javascript">
        /*$('.carousel').carousel()*/
	$("#modal_trigger1").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
	$("#modal_trigger2").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
	$("#modal_trigger3").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
	$("#modal_trigger4").leanModal({top : 200, overlay : 0.6, closeButton: ".modal_close" });
	$(function() {
                $('#activateOverLay1').click(function(){
                    $('#overlay').fadeIn('fast',function(){
                        $('#imagePopUp1').animate();
                    });
                });
                $('#close1').click(function(){
       				 $('#imagePopUp1').animate({'top':'-200px'},500,function(){
         			   $('#overlay').fadeOut('fast');
        });
    });
});

	$(function() {
                $('#activateOverLay2').click(function(){
                    $('#overlay').fadeIn('fast',function(){
                        $('#imagePopUp2').animate();
                    });
                });
                $('#close2').click(function(){
       				 $('#imagePopUp2').animate({'top':'-200px'},500,function(){
         			   $('#overlay').fadeOut('fast');
        });
    });
});

	$(function() {
                $('#activateOverLay3').click(function(){
                    $('#overlay').fadeIn('fast',function(){
                        $('#imagePopUp3').animate();
                    });
                });
                $('#close3').click(function(){
       				 $('#imagePopUp3').animate({'top':'-200px'},500,function(){
         			   $('#overlay').fadeOut('fast');
        });
    });
});

	$(function() {
                $('#activateOverLay4').click(function(){
                    $('#overlay').fadeIn('fast',function(){
                        $('#imagePopUp4').animate();
                    });
                });
                $('#close4').click(function(){
       				 $('#imagePopUp4').animate({'top':'-200px'},500,function(){
         			   $('#overlay').fadeOut('fast');
        });
    });
});

    </script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.prettyPhoto.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/wow.min.js"></script>
</body>
</html>